/.idea
/.vagrant
/.sass-cache
/node_modules
/vendor
/public/storage
/public/hot
/public/css
/public/fonts
/public/images
/public/js
/public/uploads
/public/vendor
/public/sitemap*.xml
/public/mix-manifest.json
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
.phpstorm.meta.php