ip: 192.168.10.10

memory: 2048

cpus: 1

provider: virtualbox

mariadb: true

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    -
        map: 'C:\Projects\platform'
        to: /home/vagrant/Code

sites:
    -
        map: platform.dev
        to: /home/vagrant/Code/public
        schedule: true

databases:
    - platform

name: platform

hostname: platform