section.view {
  margin: 0 0 20px 0;
  padding: 15px;
}

div.tab {
  display: none;
}
div.tab.active {
  display: block;
}

.form {
  /**
  * Fix TinyMCE width for admin.
  */
}
.form fieldset {
  display: block;
  float: left;
  width: 100%;
  margin: 10px 0;
}
.form fieldset:first-of-type {
  margin-top: 0;
}
.form fieldset span {
  font-size: 13px;
  font-size: 0.8125rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: right;
  clear: both;
  font-family: 'Open Sans', sans-serif;
  color: #7E8890;
}
.form fieldset span.error {
  color: #DD7467;
}
.form label {
  font-size: 12px;
  font-size: 0.75rem;
  display: block;
  float: left;
  width: 20%;
  margin: 10px 0 0 0;
  color: #B0BEC5;
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
}
@media only screen and (max-width: 1247px) {
  .form label {
    width: 27%;
  }
}
@media only screen and (max-width: 639px) {
  .form label {
    width: 100%;
  }
}
.form label.file-input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: right;
  cursor: pointer;
  width: 80%;
  height: 32px;
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #e2e2e2;
  background: url("../img/input-file-bg.png") bottom 0 left 0 no-repeat !important;
  background-color: #FFFFFF;
  text-transform: none;
}
.form label.file-input span {
  font-size: 13px;
  font-size: 0.8125rem;
  float: left;
  clear: none;
  margin-top: 2px;
  margin-left: 89px;
}
@media only screen and (max-width: 1247px) {
  .form label.file-input {
    width: 73%;
  }
}
@media only screen and (max-width: 639px) {
  .form label.file-input {
    width: 100%;
  }
}
.form label.file-input input[type="file"] {
  position: fixed;
  top: -10000px;
}
.form input, .form select, .form textarea {
  font-size: 13px;
  font-size: 0.8125rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  float: right;
  width: 80%;
  margin: 0;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  background: #FFFFFF;
  color: #7E8890;
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 1247px) {
  .form input, .form select, .form textarea {
    width: 73%;
  }
}
@media only screen and (max-width: 639px) {
  .form input, .form select, .form textarea {
    width: 100%;
  }
}
.form input:focus, .form select:focus, .form textarea:focus {
  border-bottom: 1px solid #4AAEE3;
}
.form input.error, .form select.error, .form textarea.error {
  border-bottom: 1px solid #DD7467;
}
.form input[type="checkbox"], .form input[type="radio"], .form select[type="checkbox"], .form select[type="radio"], .form textarea[type="checkbox"], .form textarea[type="radio"] {
  width: 20px;
  height: 20px;
  float: left;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #e2e2e2;
}
.form input[type="checkbox"]:checked, .form input[type="radio"]:checked, .form select[type="checkbox"]:checked, .form select[type="radio"]:checked, .form textarea[type="checkbox"]:checked, .form textarea[type="radio"]:checked {
  background: #e2e2e2;
}
.form input[type="checkbox"].error, .form input[type="radio"].error, .form select[type="checkbox"].error, .form select[type="radio"].error, .form textarea[type="checkbox"].error, .form textarea[type="radio"].error {
  border-bottom: 1px solid #DD7467;
}
.form input.with-generate-button, .form select.with-generate-button, .form textarea.with-generate-button {
  width: -moz-calc(80% - 100px);
  width: -webkit-calc(80% - 100px);
  width: calc(80% - 100px);
  float: left;
}
@media only screen and (max-width: 1247px) {
  .form input.with-generate-button, .form select.with-generate-button, .form textarea.with-generate-button {
    width: -moz-calc(73% - 100px);
    width: -webkit-calc(73% - 100px);
    width: calc(73% - 100px);
  }
}
@media only screen and (max-width: 767px) {
  .form input.with-generate-button, .form select.with-generate-button, .form textarea.with-generate-button {
    width: -moz-calc(73% - 32px);
    width: -webkit-calc(73% - 32px);
    width: calc(73% - 32px);
  }
}
@media only screen and (max-width: 639px) {
  .form input.with-generate-button, .form select.with-generate-button, .form textarea.with-generate-button {
    width: -moz-calc(100% - 32px);
    width: -webkit-calc(100% - 32px);
    width: calc(100% - 32px);
  }
}
.form select {
  padding: 5px 32px 5px 5px;
  background: url("../img/select-dropdown-bg.png") no-repeat right 5px center;
}
.form textarea {
  border-right: 1px solid #e2e2e2;
  height: 120px;
}
.form textarea:focus {
  border-right: 1px solid #4AAEE3;
}
.form .mce-tinymce {
  width: 80%;
  float: right;
}
@media only screen and (max-width: 1247px) {
  .form .mce-tinymce {
    width: 73%;
  }
}
@media only screen and (max-width: 639px) {
  .form .mce-tinymce {
    width: 100%;
  }
}
.form table {
  width: 100%;
  color: #7E8890;
  border-top: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
}
.form table thead > tr {
  font-size: 12px;
  font-size: 0.75rem;
  background: #FFFFFF;
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
}
.form table tbody > tr {
  font-size: 13px;
  font-size: 0.8125rem;
  font-family: 'Open Sans', sans-serif;
}
.form table tbody > tr.odd {
  background: #FFFFFF;
}
.form table tbody > tr.even {
  background: #FCFCFC;
}
.form table tr > td {
  padding: 10px 15px;
  border-bottom: 1px solid #EAEAEA;
  border-left: 1px solid #EAEAEA;
}
@media only screen and (max-width: 767px) {
  .form table tr > td {
    display: table-cell;
  }
}

/*# sourceMappingURL=view.css.map */
