@import 'init';

/*#loading {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: $colorWhite url('/build/assets/img/admin/loading.gif') no-repeat center;
}*/

main {
    @include calc(width, '100% - 250px');

    z-index: z-index('content');
    display: block;
    /*display: none;*/
    float: right;
    margin: 82px 0;

    @include media-query('tablet-wide') {
        width: 100%;
    }

    section {
        @include clear-padding();

        display: block;
        float: left;
        width: 100%;
        background: $colorWhite;
        border-top: 1px solid $colorGallery;
        border-bottom: 1px solid $colorGallery;

        span {
            @include font-size(13px);

            font-family: 'Open Sans', sans-serif;
            color: $colorOsloGray;
        }
    }
}

section.content {
    @include font-size(13px);

    padding: 15px;
    font-family: "Open Sans", sans-serif;
    color: $colorOsloGray;

    &.content-half {
        width: 50%;
        display: inline-block;

        &.left {
            @include calc(width, '50% - 10px');

            float: left;
            text-align: left;
            margin-right: 10px;
            border-right: 1px solid $colorGallery;
            border-bottom: 1px solid $colorGallery;
        }

        &.right {
            @include calc(width, '50% - 10px');

            float: right;
            text-align: left;
            margin-left: 10px;
            border-left: 1px solid $colorGallery;
            border-bottom: 1px solid $colorGallery;
        }
    }

    &.content-third {
        width: 33.3%;
        display: inline-block;

        &.left {
            float: left;
            text-align: left;
            border-right: 1px solid $colorGallery;
            border-bottom: 1px solid $colorGallery;
        }

        &.center {
            @include calc(width, '33.3% - 40px');

            float: none;
            margin: 0 20px;
            text-align: left;
            border-left: 1px solid $colorGallery;
            border-right: 1px solid $colorGallery;
            border-bottom: 1px solid $colorGallery;
        }

        &.right {
            float: right;
            text-align: left;
            border-left: 1px solid $colorGallery;
            border-bottom: 1px solid $colorGallery;
        }
    }

    article.split {
        width: 100%;
        float: left;
        padding: 0 0 7px 0;
        margin: 0 0 7px 0;
        border-bottom: 1px solid $colorGallery;

        &:last-of-type {
            padding: 0;
            margin: 0;
            border: none;
        }
    }

    em {
        font-family: 'Open Sans Semibold';
    }
}

span.title {
    @include font-size(12px);
    @include clear-padding();

    display: block;
    float: left;
    width: 100%;
    padding: 0 0 2px;
    margin: 50px 0 15px 0;
    border-bottom: 1px solid $colorPictonBlue;
    font-family: 'Open Sans Bold', sans-serif;
    color: $colorPictonBlue;
    text-transform: uppercase;

    &:first-of-type {
        margin: 0 0 15px 0;
    }
}

p {
    @include font-size(13px);

    color: $colorOsloGray;
    font-family: 'Open Sans', sans-serif;
}

.box {
    @include clear-padding();

    display: block;
    float: left;
    max-width: 100% !important;
    margin: 15px 0;
    padding: 10px;
    background: $colorAlabaster;
    border: 1px solid $colorGallery;
    text-align: center;

    &.success {
        @include calc(width, '100% - 2px');

        margin: 5px 0;
        padding: 15px;
        border: 1px solid $colorEmerald;
        background: lighten($colorEmerald, 37%);
        text-align: left;
    }

    &.danger {
        @include calc(width, '100% - 2px');

        margin: 5px 0;
        padding: 15px;
        border: 1px solid $colorJaponica;
        background: lighten($colorJaponica, 33%);
        text-align: left;
    }

    &.warning {
        @include calc(width, '100% - 2px');

        margin: 5px 0;
        padding: 15px;
        border: 1px solid $colorGoldenTainoi;
        background: lighten($colorGoldenTainoi, 30%);
        text-align: left;
    }

    &.info {
        @include calc(width, '100% - 2px');

        margin: 5px 0;
        padding: 15px;
        border: 1px solid $colorPictonBlue;
        background: lighten($colorPictonBlue, 38%);
        text-align: left;
    }

    a {
        font-family: 'Open Sans Semibold', sans-serif;
        color: $colorPictonBlue;
        text-decoration: none;
    }

    span {
        @include font-size(13px);

        font-family: 'Open Sans', sans-serif;
        color: $colorOsloGray;
    }

    em {
        @include font-size(13px);

        font-family: 'Open Sans Bold', sans-serif;
        color: $colorOsloGray;
    }
}

.flag {
    @include clear-padding();
    @include font-size(10px);

    display: inline-block;
    margin: 5px;
    padding: 3px 7px;
    background: $colorFiord;
    color: $colorWhite;
    font-family: 'Open Sans Bold';
    text-transform: uppercase;

    &.blue {
        background: $colorPictonBlue;
    }

    &.green {
        background: $colorEmerald;
    }

    &.red {
        background: $colorJaponica;
    }

    &.yellow {
        background: $colorGoldenTainoi;
    }
}

.btn {
    @include font-size(12px);
    @include transition(background 0.3s ease);
    @include clear-padding();

    display: block;
    float: left;
    margin: 15px 5px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    background: $colorTowerGray;
    color: $colorWhite !important;
    font-family: 'Open Sans Bold', sans-serif;
    text-transform: uppercase;

    &:not(.no-responsiveness) {
        @include media-query('tablet') {
            @include font-size(14px);
            @include clear-padding();

            text-indent: -9999px;
            width: 32px;
            height: 30px;
        }

        > i {
            @include media-query('tablet') {
                text-indent: 0;
                float: left;
            }
        }
    }

    &:hover {
        background: darken($colorTowerGray, 10%);
    }

    &.disabled {
        pointer-events: none;
        cursor: not-allowed !important;
        background: lighten($colorTowerGray, 15%) !important;
    }

    &.centered {
        text-align: center;
    }

    &.bordered {
        padding: 6px 10px;
        border: 1px solid lighten($colorTowerGray, 10%);
        background: none;
        color: $colorOsloGray !important;
        font-family: 'Open Sans', sans-serif;
        text-transform: none;

        &:hover {
            background-color: lighten($colorTowerGray, 22%) !important;
        }
    }

    &.no-margin {
        margin: 0;
    }

    &.no-margin-top {
        margin-top: 0;
    }

    &.no-margin-bottom {
        margin-bottom: 0;
    }

    &.no-margin-right {
        margin-right: 0;
    }

    &.no-margin-left {
        margin-left: 0;
    }

    &.double-margin {
        margin: 30px 10px;
    }

    &.double-margin-top {
        margin-top: 30px;
    }

    &.double-margin-bottom {
        margin-bottom: 30px;
    }

    &.double-margin-right {
        margin-right: 10px;
    }

    &.double-margin-left {
        margin-left: 10px;
    }

    &.gray {
        background: lighten($colorTowerGray, 10%);

        &:hover {
            background: $colorTowerGray;
        }

        &.bordered {
            border: 1px solid lighten($colorTowerGray, 10%);

            &:hover {
                background-color: lighten($colorTowerGray, 22%) !important;
            }
        }
    }

    &.blue {
        background: $colorPictonBlue;

        &:hover {
            background: darken($colorPictonBlue, 10%);
        }

        &.bordered {
            border: 1px solid lighten($colorPictonBlue, 10%);

            &:hover {
                background-color: lighten($colorPictonBlue, 22%) !important;
            }
        }
    }

    &.green {
        background: $colorEmerald;

        &:hover {
            background: darken($colorEmerald, 10%);
        }

        &.bordered {
            border: 1px solid lighten($colorEmerald, 10%);

            &:hover {
                background-color: lighten($colorEmerald, 22%) !important;
            }
        }
    }

    &.red {
        background: $colorJaponica;

        &:hover {
            background: darken($colorJaponica, 10%);
        }

        &.bordered {
            border: 1px solid lighten($colorJaponica, 10%);

            &:hover {
                background-color: lighten($colorJaponica, 22%) !important;
            }
        }
    }

    &.yellow {
        background: $colorGoldenTainoi;

        &:hover {
            background: darken($colorGoldenTainoi, 10%);
        }

        &.bordered {
            border: 1px solid lighten($colorGoldenTainoi, 10%);

            &:hover {
                background-color: lighten($colorGoldenTainoi, 22%) !important;
            }
        }
    }

    &.dark-blue {
        background: $colorFiord;

        &:hover {
            background: darken($colorFiord, 10%);
        }

        &.bordered {
            border: 1px solid lighten($colorFiord, 10%);

            &:hover {
                background-color: lighten($colorFiord, 22%) !important;
            }
        }
    }
}

.validation {
    p {
        @include clear-padding();
        @include font-size(13px);

        display: block;
        float: left;
        width: 100%;
        margin: 0 0 20px 0;
        padding: 0 0 2px 0;
        border-bottom: 1px solid darken($colorGallery, 3%);
        background: $colorWhite;
        color: $colorTowerGray;
        font-family: 'Open Sans', sans-serif;

        &.success {
            color: $colorEmerald;
            border-bottom: 1px solid $colorEmerald;
        }

        &.error {
            color: $colorJaponica;
            border-bottom: 1px solid $colorJaponica;
        }

        &.alert {
            color: $colorGoldenTainoi;
            border-bottom: 1px solid $colorGoldenTainoi;
        }
    }
}

.flash {
    @include opacity(0.9);

    z-index: z-index('flash');
    position: fixed;
    top: 30px;
    right: 30px;
    max-width: 300px;
    padding: 15px 45px 15px 15px;

    &.success {
        background: $colorEmerald;
    }

    &.error {
        background: $colorJaponica;
    }

    &.warning {
        background: $colorGoldenTainoi;
    }

    a {
        position: fixed;
        top: 45px;
        right: 45px;
        color: $colorWhite;
    }

    p {
        @include font-size(13px);

        margin: 0;
        padding: 0;
        color: $colorWhite;
        font-family: 'Open Sans Semibold', sans-serif;
    }
}

.left{
    float: left !important;
}

.right{
    float: right !important;
}

.full {
    width: 100% !important;
}

.half {
    width: 50% !important;
}

.third {
    width: 33.3% !important;
}

.quarter {
    width: 25% !important;
}

#password-generate {
    float: right;
    margin: 0;
    padding: 6px 10px;

    @include media-query('tablet') {
        @include font-size(14px);
        @include clear-padding();

        padding: 7px 10px;
        text-indent: -9999px;
        width: 32px;
        height: 30px;
    }

    > i {
        @include media-query('tablet') {
            text-indent: 0;
            float: left;
        }
    }
}