@import 'init';

.desktop-only {
    @include media-query('tablet') {
        display: none !important;
    }
}

.device-visible {
    @include media-query('tablet') {
        display: table-cell !important;
    }
}

/* Uploads Styles */
.open-upload-new {
    background: $colorWhite !important;

    &.disabled {
        cursor: not-allowed !important;
    }
}

.actions-upload {
    width: 283px !important;

    @include media-query('tablet') {
        width: 116px !important;
    }
}

.actions-deleted {
    width: 181px !important;

    @include media-query('tablet') {
        width: 78px !important;
    }
}

td .upload-aligned-text {
    margin: 6px 0 0 10px;
    display: inline-block;
    float: left;

    @include media-query('tablet') {
        float: none;
        margin: 0;
    }
}

td .upload-aligned-image {
    float: left;

    @include media-query('tablet') {
        display: none;
    }
}

/* Menu Styles */
.menu-types {
    display: none;
    float: left;
    width: 100%;
    margin-top: 10px;
}

/* Block Styles */
#block-image {
    display: none;
    float: right;
    max-width: 100%;
}

.loading-blocks {
    display: none;
    text-align: center;
}

.block-location-title {
    @include font-size(12px);

    display: block;
    float: left;
    width: 100%;
    padding: 0 0 2px;
    margin: 50px 0 15px 0;
    border-bottom: 1px solid $colorPictonBlue;
    font-family: 'Open Sans Bold', sans-serif;
    color: $colorPictonBlue;
    text-transform: uppercase;

    &:first-of-type {
        margin: 0 0 15px 0;
    }
}

.multiple-item {
    @include clear-padding();

    display: block;
    float: left;
    width: 100%;
    background: $colorWhite;
    padding: 15px;
    margin: 60px 0 0 0;
    border: 3px dashed $colorPictonBlue;
}

.multiple-item-btn {
    width: 33.3%;
    background: #FFF !important;
}

.actions-blocks {
    width: 165px;
    padding: 10px;

    @include media-query('tablet') {
        display: table-cell;
        width: 78px;
    }
}

.block-assign-container {
    @include clear-padding();

    display: block;
    float: left;
    width: 100%;
    padding: 15px;
    background: $colorAlabaster;
    border: 1px solid $colorGallery;
    border-top: none;
}

.block-assign-select-container {
    @include calc(width, '100% - 95px');

    float: left;

    @include media-query('tablet') {
        @include calc(width, '100% - 45px');
    }
}

.block-assign-btn-container {
    width: 95px;
    float: right;

    @include media-query('tablet') {
        width: 45px;
    }
}

.block-assign-select {
    float: left;
    width: 100%;
    border: 1px solid $colorGallery;
    padding: 4px 5px 9px;
    max-height: none;
    margin-top: 0;

    @include media-query('tablet') {
        padding: 4px 5px 8px;
    }
}

.block-inheritance {
    @include clear-padding();
    @include calc(width, '100% - 2px');

    display: block;
    float: left;
    margin: 5px 0;
    padding: 15px;
    border: 1px solid $colorGoldenTainoi;
    background: lighten($colorGoldenTainoi, 30%);

    span {
        @include font-size(13px);

        font-family: 'Open Sans', sans-serif;
        color: $colorOsloGray;
    }

    em {
        @include font-size(13px);

        font-family: 'Open Sans Bold', sans-serif;
        color: $colorOsloGray;
    }
}

/* Draft Styles */
#tab-drafts {
    min-height: 52px;
}

.loading-drafts {
    display: none;
    text-align: center;
}

.drafts-table {
    thead > tr > td:first-of-type {
        width: 8px;
        text-align: center;
    }

    tbody {
        tr > td:first-of-type {
            width: 8px;
            text-align: center;
        }

        tr.no-drafts > td {
            text-align: left !important;
        }
    }
}

.actions-drafts {
    width: 265px;
    padding: 10px;

    @include media-query('tablet') {
        display: table-cell;
        width: 117px;
    }
}

.actions-drafted {
    width: 252px !important;

    @include media-query('tablet') {
        width: 117px !important;
    }
}

/* Revision Styles */
#tab-revisions {
    min-height: 52px;
}

.loading-revisions {
    display: none;
    text-align: center;
}

.revisions-table {
    thead > tr > td:first-of-type {
        width: 8px;
        text-align: center;
    }

    tbody {
        tr > td:first-of-type {
            width: 8px;
            text-align: center;
        }

        tr.no-revisions > td {
            text-align: left !important;
        }
    }
}

.actions-revisions {
    width: 275px;
    padding: 10px;

    @include media-query('tablet') {
        display: table-cell;
        width: 117px;
    }
}

/* Activity Logs Styles */
.actions-activity-logs {
    width: 85px !important;

    @include media-query('tablet') {
        width: 60px !important;
    }
}

/* Email Styles */
#email-image {
    display: none;
    float: right;
    max-width: 100%;
}

/* User Styles */
.actions-users {
    width: 283px !important;

    @include media-query('tablet') {
        width: 116px !important;
    }
}

/* Attribute Styles */
.attribute-value {
    display: none;
    float: left;
    width: 100%;
    margin: 10px 0;
}

/* Discount Styles */
.loading-discounts {
    display: none;
    text-align: center;
}

.actions-discounts {
    width: 165px;
    padding: 10px;

    @include media-query('tablet') {
        display: table-cell;
        width: 78px;
    }
}

.discount-assign-container {
    @include clear-padding();

    display: block;
    float: left;
    width: 100%;
    padding: 15px;
    background: $colorAlabaster;
    border: 1px solid $colorGallery;
    border-top: none;
}

.discount-assign-select-container {
    @include calc(width, '100% - 95px');

    float: left;

    @include media-query('tablet') {
        @include calc(width, '100% - 45px');
    }
}

.discount-assign-btn-container {
    width: 95px;
    float: right;

    @include media-query('tablet') {
        width: 45px;
    }
}

.discount-assign-select {
    float: left;
    width: 100%;
    border: 1px solid $colorGallery;
    padding: 4px 5px 9px;
    max-height: none;
    margin-top: 0;

    @include media-query('tablet') {
        padding: 4px 5px 8px;
    }
}