@import 'init';

.desktop-only {
    @include media-query('tablet') {
        display: none !important;
    }
}

.device-visible {
    @include media-query('tablet') {
        display: table-cell !important;
    }
}

/* Uploads Styles */
td.actions-upload {
    width: 283px !important;

    @include media-query('tablet') {
        width: 116px !important;
    }
}

td.actions-deleted {
    width: 181px !important;

    @include media-query('tablet') {
        width: 78px !important;
    }
}

td span.upload-aligned-text {
    margin: 6px 0 0 10px;
    display: inline-block;
    float: left;

    @include media-query('tablet') {
        float: none;
        margin: 0;
    }
}

td img.upload-aligned-image {
    float: left;

    @include media-query('tablet') {
        display: none;
    }
}

/* Menu Styles */
div.menu-types {
    display: none;
    float: left;
    width: 100%;
    margin-top: 10px;
}