@import 'init';

html, body {
    @include font-size(16px);

    margin: 0;
    padding: 0;
    background-color: $colorWillSand;
    overflow-x: hidden;
}

h1, h2, h3, em, p, a, span, small, em {
    @include smooth-text();
    cursor: default;
}

ul, img, figure {
    margin: 0;
    padding: 0;
}

select, textarea, input:not(radio) {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input:disabled, textarea:disabled, select:disabled {
    cursor: not-allowed;
}

em {
    font-style: normal;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}