html, body {
    @include font-size(16px);
    
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $colorWillSand;
    overflow-x: hidden;
}

h1, h2, h3, em, p, a, span, small, em {
    @include smooth-text();
    cursor: default;
}

ul, img, figure {
    margin: 0;
    padding: 0;
}

button {
    outline: none;
}

select, textarea, input:not(radio) {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input:disabled, textarea:disabled, select:disabled {
    cursor: not-allowed;
}

em {
    font-style: normal;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select::-ms-expand {
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $colorGullGray;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $colorGullGray;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $colorGullGray;
}
:-moz-placeholder { /* Firefox 18- */
    color: $colorGullGray;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select::-ms-expand {
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $colorGullGray;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $colorGullGray;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $colorGullGray;
}
:-moz-placeholder { /* Firefox 18- */
    color: $colorGullGray;
}