@import 'init';

header {
    @include calc(width, "100% - 250px");
    @include clear-padding();

    display: block;
    /*display: none;*/
    z-index: z-index('header');
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 10px 0 0;
    border-bottom: 1px solid $colorGallery;
    background: $colorWhite;

    @include media-query('tablet-wide') {
        width: 100%;
    }

    form {
        float: right;
    }

    button {
        display: none;

        @include media-query('tablet-wide') {
            @include font-size(16px);

            display: inline-block;
            width: 62px;
            height: 62px;
            border: 0;
            cursor: pointer;
            outline: none;
            background: $colorFiord;
            color: $colorWhite;
        }

        &.logout {
            width: 94px;
            height: 32px;
        }
    }

    h1 {
        @include font-size(12px);

        display: inline-block;
        margin: 0;
        padding: 23px 0 0 7px;
        color: $colorOsloGray;
        font-family: 'Open Sans Bold', sans-serif;
        text-transform: uppercase;
    }

    a.breadcrumb {
        @include font-size(12px);
        @include transition(all 0.3s ease);

        display: inline-block;
        margin: 0 0 0 7px;
        padding: 23px 0 0 0;
        color: $colorGullGray;
        font-family: 'Open Sans Bold', sans-serif;
        text-transform: uppercase;

        &:hover {
            color: $colorPictonBlue;
        }

        &:first-of-type {
            margin-left: 15px;
        }

        &.last {
            cursor: default;
            color: $colorOsloGray;
        }

        > i {
            margin-left: 7px;
        }

        @include media-query('tablet') {
            display: none;
        }
    }

    div.dropdown {
        position: relative;
        float: right;
        height: auto;
        margin: 0 20px 0 0;

        a.dropdown-current {
            @include font-size(12px);

            display: inline-block;
            padding: 22px 15px;
            color: $colorGullGray;
            font-family: 'Open Sans Bold', sans-serif;
            text-transform: uppercase;

            &.active {
                background: $colorFiord;
                color: $colorWhite;
            }
        }

        ul.dropdown-choices {
            display: none;
            position: absolute;
            height: 100%;
            list-style: none;
            right: 0;
            top: 61px;
            max-width: 250px;

            li {
                a {
                    @include font-size(13px);
                    @include transition(all 0.3s ease);

                    display: block;
                    padding: 7px 70px 7px 10px;
                    font-family: 'Open Sans', sans-serif;
                    background: $colorFiord;
                    color: $colorGhost;

                    &:hover {
                        color: $colorWhite;
                        background: darken($colorFiord, 7%);
                    }

                    @include media-query('tablet') {
                        padding: 7px 40px 7px 10px;
                    }

                    @include media-query('phone-wide') {
                        padding: 7px 20px 7px 10px;
                    }
                }
            }
        }
    }

    div.notifications-container {
        position: relative;
        float: right;
        height: auto;
        margin: 0 20px 0 0;

        a.notifications-indicator {
            @include font-size(16px);

            display: inline-block;
            padding: 20px 15px 21px 15px;
            color: $colorGullGray;
            font-family: 'Open Sans Bold', sans-serif;
            text-transform: uppercase;
        }

        span.notifications-count {
            @include border-radius('100px');
            @include font-size(10px);
            @include clear-padding();

            cursor: pointer;
            position: absolute;
            right: 10px;
            bottom: 20px;
            width: 14px;
            height: 14px;
            display: block;
            color: $colorWhite;
            background: $colorJaponica;
            font-family: 'Open Sans Bold', sans-serif;
            text-transform: uppercase;
            padding: 0 0 0 4px;

            &.hidden {
                display: none;
            }
        }

        ul.notifications {
            display: none;
            position: absolute;
            width: 250px;
            height: 100%;
            list-style: none;
            right: 0;
            top: 62px;

            li {
                background: $colorWhite;
                border-left: 1px solid $colorGallery;
                border-right: 1px solid $colorGallery;
                padding: 7px;

                a.notification {
                    @include font-size(13px);
                    @include transition(all 0.3s ease);

                    display: block;
                    padding: 7px 10px;
                    font-family: 'Open Sans', sans-serif;
                    background: $colorWhite;
                    color: $colorGullGray;

                    &:hover {
                        color: $colorGullGray;
                        background: lighten($colorPictonBlue, 39%);
                        //background: darken($colorAlabaster, 3%);
                    }

                    @include media-query('tablet') {
                        padding: 7px 40px 7px 10px;
                    }

                    @include media-query('phone-wide') {
                        padding: 7px 20px 7px 10px;
                    }
                }

                &:last-of-type {
                    border-bottom: 1px solid $colorGallery;
                }
            }

            @include media-query('phone') {
                width: 180px;
            }
        }
    }
}