@-webkit-keyframes animatetop {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

section.popup {
    z-index: z-index('popup');
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background: rgba(0,0,0,0.4);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    &.popup-full {
        overflow-x: hidden;
        overflow-y: scroll;

        div.modal {
            @include transform('translate(-50%,0)');

            width: 100%;
            height: 100%;
            max-width: none !important;
            margin-bottom: 0 !important;
        }
    }

    h1 {
        @include font-size(14px);

        display: block;
        float: left;
        margin: 0 0 10px 0;
        font-family: 'Open Sans Bold', sans-serif;
        color: $colorPictonBlue;
        text-transform: uppercase;
    }

    div.modal {
        @include transform('translate(-50%,30px)');
        @include shadow('0px 0px 8px 2px rgba(0,0,0,0.3)');

        position: absolute;
        left: 50%;
        width: 90%;
        max-width: 900px;
        margin-bottom: 30px;

        @include media-query('tablet-wide') {
            @include transform('translate(-50%,30px)');
        }

        a.close {
            position: absolute;
            top: 17px;
            right: 15px;
            color: $colorTowerGray;
        }

        p {
            @include font-size(13px);

            font-family: 'Open Sans', sans-serif;
            color: $colorOsloGray;
        }

        > div {
            @include clear-padding();

            position: relative;
            display: block;
            float: left;
            width: 100%;
            padding: 15px;
            background: $colorWhite;

            &.header {
                padding-bottom: 0;
                border-bottom: 1px solid $colorGallery;
            }

            &.footer {
                border-top: 1px solid $colorGallery;
            }
        }
    
        div.modal-tab {
            display: none;
        
            &.active {
                display: block;
            }
        
            img:not(.full-element), video {
                display: block;
                max-width: 100%;
                max-height: 600px;
                margin: 0 auto;
            
                @include media-query('desktop') {
                    max-height: 500px;
                }
            
                @include media-query('tablet') {
                    max-height: 400px;
                }
            
                @include media-query('phablet') {
                    max-height: 300px;
                }
            
                @include media-query('phone') {
                    max-height: 220px;
                }
            }
        
            img.full-element {
                @include transform('translate(0,-50%)');
            
                left: 50%;
                margin: 0 auto !important;
                max-width: 100% !important;
            }
        
            audio {
                width: 100% !important;
            }
        }
    
        div.modal-items {
            display: block;
            float: left;
            width: 100%;
            margin-top: 10px;
            height: 270px;
            overflow-x: hidden;
            overflow-y: scroll;
        
            a {
                @include transition(all 0.3s ease);
            
                display: block;
                float: left;
                margin: 10px;
                width: 100px;
                height: 100px;
            
                &:hover{
                    opacity: 0.4;
                }
            
                &.active{
                    opacity: 0.4;
                }
            
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    
        div.loading {
            z-index: z-index('overlay');
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.6);
        
            img {
                @include transform('translate(-50%,-50%)');
            
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }

        ul.modal-tabs {
            display: block;
            float: left;
            max-width: 80%;
            list-style: none;
            margin-top: 10px;

            li {
                @include transition(all 0.2s ease);
                @include font-size(13px);

                display: inline-block;
                margin: 0;
                padding: 0 10px 5px 10px;
                cursor: pointer;
                border-bottom: 2px solid $colorWhite;

                &:hover {
                    border-bottom: 2px solid $colorPictonBlue;
                }

                &.active {
                    border-bottom: 2px solid $colorPictonBlue;
                }
            }

            a {
                font-family: 'Open Sans Bold', sans-serif;
                color: $colorTowerGray;
                text-transform: uppercase;
            }
        }
    }
}