@import 'init';

footer {
    @include calc(width, "100% - 250px");
    @include clear-padding();

    display: block;
    z-index: z-index('footer');
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 15px;
    background: $colorWhite;
    border-top: 1px solid $colorGallery;

    @include media-query('tablet-wide') {
        width: 100%;
    }
}

.pagination {
    float: left;

    a {
        @include font-size(12px);
        @include transition(all 0.3s ease);

        display: block;
        float: left;
        width: 34px;
        height: 30px;
        margin: 15px 1px 15px 0;
        background: lighten($colorTowerGray, 10%);
        color: $colorWhite;
        font-family: 'Open Sans Semibold', sans-serif;
        text-align: center;
        line-height: 30px;

        @include media-query('tablet-small') {
            display: none;

            &.first, &.last, &.previous, &.next {
                display: block;
            }
        }

        &:hover {
            background: $colorTowerGray;
        }

        &.current {
            background: $colorPictonBlue;
        }

        &.inactive {
            cursor: not-allowed;
            background: lighten($colorTowerGray, 10%);
        }
    }

    .jump {
        float: left;
        margin: 15px 0 15px 20px;

        @include media-query('tablet-small') {
            display: none;
        }

        input[type="number"] {
            width: 50px;
            height: 28px;
            padding: 0 5px;
            border: 1px solid darken($colorGallery, 2%);
            background: $colorWhite;
            color: $colorOsloGray;

        }

        input[type="submit"] {
            @include font-size(12px);
            @include transition(background 0.3s ease);

            width: 40px;
            height: 30px;
            margin: 0 0 0 -5px;
            border: none;
            cursor: pointer;
            background: $colorPictonBlue;
            color: $colorWhite;
            font-family: 'Open Sans Bold', sans-serif;
            text-transform: uppercase;

            &:hover {
                background: darken($colorPictonBlue, 10%);
            }
        }
    }
}

section.actions {
    float: right;
}