@import 'init';

section.view {
    margin: 0 0 20px 0;
    padding: 15px;
}

div.tab {
    display: none;

    &.active {
        display: block;
    }
}

.form {
    fieldset {
        display: block;
        float: left;
        width: 100%;
        margin: 10px 0;

        &:first-of-type {
            margin-top: 0;
        }

        span {
            @include font-size(13px);
            @include transition(all 0.3s ease);

            float: right;
            clear: both;
            font-family: 'Open Sans', sans-serif;
            color: $colorOsloGray;

            &.error {
                color: $colorJaponica;
            }
        }
    }

    .field-wrapper {
        float: right;
        width: 80%;

        @include media-query('desktop') {
            width: 73%;
        }

        @include media-query('tablet-small') {
            width: 100%;
        }
    }

    label {
        @include font-size(12px);

        display: block;
        float: left;
        width: 20%;
        margin: 10px 0 0 0;
        color: $colorTowerGray;
        font-family: 'Open Sans Bold', sans-serif;
        text-transform: uppercase;

        @include media-query('desktop') {
            width: 27%;
        }

        @include media-query('tablet-small') {
            width: 100%;
        }

        &.file-input {
            @include clear-padding();

            float: right;
            cursor: pointer;
            width: 80%;
            height: 32px;
            margin: 0;
            padding: 5px;
            border-bottom: 1px solid darken($colorGallery, 3%);
            background: url('../img/input-file-bg.png') bottom 0 left 0 no-repeat !important;
            background-color: $colorWhite;
            text-transform: none;

            span {
                @include font-size(13px);

                float: left;
                clear: none;
                margin-top: 2px;
                margin-left: 89px;
            }

            @include media-query('desktop') {
                width: 73%;
            }

            @include media-query('tablet-small') {
                width: 100%;
            }

            input[type="file"] {
                position: fixed;
                top: -10000px;
            }
        }
    }

    input, select, textarea {
        @include font-size(13px);
        @include transition(all 0.3s ease);
        @include clear-padding();

        display: block;
        float: right;
        width: 80%;
        margin: 0;
        padding: 5px;
        border: none;
        border-bottom: 1px solid darken($colorGallery, 3%);
        background: $colorWhite;
        color: $colorOsloGray;
        font-family: 'Open Sans', sans-serif;

        @include media-query('desktop') {
            width: 73%;
        }

        @include media-query('tablet-small') {
            width: 100%;
        }

        &:focus {
            border-bottom: 1px solid $colorPictonBlue;
        }

        &.error {
            border-bottom: 1px solid $colorJaponica;
        }

        &[type="checkbox"], &[type="radio"] {
            width: 20px;
            height: 20px;
            float: left;
            cursor: pointer;
            background: $colorWhite;
            border: 1px solid darken($colorGallery, 3%);

            &:checked {
                background: darken($colorGallery, 3%);
            }

            &.error {
                border-bottom: 1px solid $colorJaponica;
            }
        }

        &.with-generate-button {
            @include calc(width, '80% - 100px');
            float: left;

            @include media-query('desktop') {
                @include calc(width, '73% - 100px');
            }

            @include media-query('tablet') {
                @include calc(width, '73% - 32px');
            }

            @include media-query('tablet-small') {
                @include calc(width, '100% - 32px');
            }
        }
    }

    select {
        padding: 5px 32px 5px 5px;
        background: url('../img/select-dropdown-bg.png') no-repeat right 5px center;
    }

    textarea {
        border-right: 1px solid darken($colorGallery, 3%);
        height: 120px;

        &:focus {
            border-right: 1px solid $colorPictonBlue;
        }
    }

    /**
    * Fix TinyMCE width for admin.
    */
    .mce-tinymce{
        width: 80%;
        float: right;

        @include media-query('desktop') {
            width: 73%;
        }

        @include media-query('tablet-small') {
            width: 100%;
        }
    }

    table {
        width: 100%;
        color: $colorOsloGray;
        border-top: 1px solid $colorGallery;
        border-right: 1px solid $colorGallery;

        thead > tr {
            @include font-size(12px);

            background: $colorWhite;
            font-family: 'Open Sans Bold', sans-serif;
            text-transform: uppercase;
        }

        tbody > tr {
            @include font-size(13px);

            font-family: 'Open Sans', sans-serif;

            &.odd {
                background: $colorWhite;
            }

            &.even {
                background: $colorAlabaster;
            }
        }

        tr > td {
            padding: 10px 15px;
            border-bottom: 1px solid $colorGallery;
            border-left: 1px solid $colorGallery;

            @include media-query('tablet') {
                display: table-cell;
            }
        }
    }
}